#pageBody {
    width: 80vw;
    margin: auto;
    background-color: #ebf4f1;
    color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

#mainBody {
    padding: 5% 5%;
    height: 100vh;
    background-color: #dceae5;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    overflow: visible;
    box-sizing: border-box;
}

#themeSelect {
    padding: 5px;
    background-color: #ffffff;
}

#label {
    text-align: center;
    padding: 10px;
}

dialog::backdrop {
    backdrop-filter: blur(6px);
}

#main_logo {
    padding: 20px 0px;
    width: 60%;
}

#warning {
    color: #a80000;
}
